.notice {
    padding: 8px 12px;
    margin-bottom: 15px;
    border-left: 4px solid #ccc;
    background: #f8f8f8;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    display: block;
}

.notice p {
    margin: 0.5em 0;
    padding: 2px;
    line-height: 1.5;
}

.notice-info {
    border-left-color: #00a0d2;
    background-color: #f0f6fc;
}

.notice-success {
    border-left-color: #46b450;
    background-color: #ecf7ed;
}

.notice-warning {
    border-left-color: #ffb900;
    background-color: #fff8e5;
}

.notice-error {
    border-left-color: #dc3232;
    background-color: #fbeaea;
}

.notice .notice-dismiss {
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    padding: 9px;
    background: none;
    color: #787c82;
    cursor: pointer;
}